<h1>New User Sign Up</h1>

<form>
  <label>Username</label>
  <input name="username" placeholder="username">
  <label>Password</label>
  <input name="password" placeholder="password">
  <input type="submit" class="tiny button">
</form>
